  <h1>Bienvenido a Fake bla bla Bitly!</h1>
  <p>Esta es una aplicacion para cortar urls</p>

  

  <form action="/principal" method="post">
    Dame la URL:
    <br> 
    <input type="text" name="user_input">
    <br><br> 
    <input type="submit" value="Send Url">
    <br> 
  </form>