<h2> Bienvenido a tu REGISTRO! </h2>


  <p id="html"></p>

  <form id="target" action="/registro" method="post">
   
    Registrate!:
    <br>

    <p>Usuario</p> <input type="text" name="Usuario" > <br>
    <p>Mail</p><input type="email" name="Mail" ><br>
    <p>Contraseña</p><input type="password" name="Contraseña" ><br>
    <br>
    <input type="submit" value="Enviar!"> <br>

  </form>
